* {
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body {
    background-image: url('img/guitar-blur.jpeg');
    background-position: center;
    background-attachment: fixed;
    top: 0;
    font-size: 62.5%;
    text-align: center;
    color: rgb(240, 240, 210);
}

.left-container {
    float: left;
    width: 15%;
    height: 100vh;
    background-color: rgba(240, 200, 150, 0.25);
    border: 1px solid rgba(64, 61, 65, 0.67);
    position: fixed;
    top: 0;
}

.right-container {
    width: 85%;
    float: right;
}